<div class="social-media-buttons">
  <div class="share-button">
    <%= link_to icon_tag('facebook'), '#',
        data: {
          controller: 'popup-opener',
          action: 'popup-opener#open',
          'popup-opener-share-url-value': 'https://facebook.com/sharer/sharer?u='
        },
        class: 'btn btn-sm btn-circle' %>
  </div>
  <div class="share-button">
    <%= link_to icon_tag('twitter'), '#',
        data: {
          controller: 'popup-opener',
          action: 'popup-opener#open',
          'popup-opener-share-url-value': 'https://twitter.com/intent/tweet?text='
        },
        class: 'btn btn-sm btn-circle' %>
  </div>
  <div class="share-button">
    <%= link_to icon_tag('linkedin'), '#',
        data: {
          controller: 'popup-opener',
          action: 'popup-opener#open',
          'popup-opener-share-url-value': 'https://www.linkedin.com/sharing/share-offsite/?url='
        },
        class: 'btn btn-sm btn-circle' %>
  </div>
  <div class="share-button">
    <%= link_to icon_tag('whatsapp'), '#',
        data: {
          controller: 'popup-opener',
          action: 'popup-opener#open',
          'popup-opener-share-url-value': 'https://wa.me/?text=='
        },
        class: 'btn btn-sm btn-circle' %>
  </div>
  <div class="share-button">
    <%= link_to icon_tag('mail'), 'mailto:?body=' + request.original_url,
        class: 'btn btn-sm btn-circle' %>
  </div>
</div>
