<%= render Bali::PageHeader::Component.new do |c| %>
  <%= c.title(t('activerecord.models.blogging/post').pluralize) %>
<% end %>
<div class="container is-max-desktop">
  <% if @posts.length > 0 %>
    <%= render Bali::Columns::Component.new(class: ' is-multiline') do |c| %>
      <% if @pagy.page == 1 &&  @leader_posts.length > 0 %>
        <% @leader_posts.each do |leader| %>
          <%= c.column(class: @posts.length <= 2 ? 'is-full-mobile is-one-third' : 'is-full') do %>
            <%= render Bali::Card::Component.new(title: leader.title,
                                                  description: leader.body.to_plain_text,
                                                  image: main_app.url_for(leader.cover_image.variant(:large)),
                                                  link: post_path(leader)) do |card| %>
              <% card.media do %>
                <% leader.tags.each do |tag| %>
                  <%= link_to tag_path(tag) do %>
                    <span class="tag is-info is-light"><%= tag.name %></span>
                  <% end %>
                <% end %>
              <% end %>
              <% card.footer_item do %>
                <time>
                  <%= l(leader.public_from, format: :compact) if leader.public_from %>
                </time>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% @posts.each_with_index do |post, index| %>
        <%= c.column(class: 'is-full-mobile is-one-third') do %>
          <%= render Bali::Card::Component.new(title: post.title,
                                                description: post.body.to_plain_text,
                                                image: main_app.url_for(post.cover_image.variant(:medium)),
                                                link: post_path(post),
                                                class: 'card-fit') do |card| %>
            <% card.media do %>
              <% post.tags.each do |tag| %>
                <%= link_to tag_path(tag) do %>
                  <span class="tag is-info is-light"><%= tag.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% card.footer_item do %>
              <time>
                <%= l(post.public_from, format: :compact) if post.public_from %>
              </time>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="has-text-centered">
      <div class="notification is-primary">
        <%= t('activerecord.no_rows') %>
      </div>
    </p>
  <% end %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
