<%= render Bali::PageHeader::Component.new do |c| %>
  <%= c.title(t('activerecord.models.blogging/post').pluralize) %>
<% end %>
<div class="container is-max-desktop">
  <% if @posts.length > 0 %>
    <%= render Bali::Columns::Component.new(class: ' is-multiline card-fit') do |c| %>
      <% @posts.each_with_index do |post, index| %>
        <%= c.column(class: index == 0 && @pagy.page == 1 && @posts.length > 3 ? 'is-full' : 'is-full-mobile is-one-third') do %>
          <%= render Bali::Card::Component.new(title: post.title, description: post.body.to_plain_text, image: main_app.url_for(post.cover_image.variant(index == 0 && @pagy.page == 1 ? :large : :medium)), link: post_path(post)) do |card| %>
            <% card.media do %>
              <% post.tags.each do |tag| %>
                <%= link_to tag_path(tag) do %>
                  <span class="tag is-info is-light"><%= tag.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% card.footer_item do %>
              <time>
                <%= l(post.public_from, format: :compact) if post.public_from %>
              </time>
            <% end %>
          <% end %>
          
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="has-text-centered">
      <div class="notification is-primary">
        <%= t('activerecord.no_rows').pluralize %>
      </div>
      
    </p>
  <% end %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
