<%= render Bali::PageHeader::Component.new do |c| %>
  <%= c.title(t('activerecord.models.blogging/post').pluralize) %>
<% end %>
<div class="container is-max-desktop">
  <%= render Bali::Columns::Component.new(class: ' is-multiline card-fit') do |c| %>
    <% @posts.each_with_index do |post, index| %>
      <%= c.column(class: index == 0 && @pagy.page == 1 ? 'is-full' : 'is-full-mobile is-one-third') do %>
        <div class="card">
          <%= link_to post_path(post), class: 'card-image' do %>
            <figure class="image is-2by1">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          <% end %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <% post.tags.each do |tag| %>
                  <%= link_to tag_path(tag) do %>
                    <span class="tag is-info is-light"><%= tag.name %></span>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="content">
              <div class="has-text-weight-bold is-uppercase">
                <%= link_to post.title.truncate(50), post_path(post), class: 'has-text-dark' %>
              </div>
              <%= post.body.to_plain_text.truncate(100) %>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-item">
              <time>
                <%= l(post.public_from, format: :compact) if post.public_from %>
              </time>
            </div>
            <%= link_to t('actions.read'), post_path(post), class: 'card-footer-item' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
