<%= link_to "< #{t('back')}", posts_path %>

<div class="page-header-component mb-5">
  <h1 class="title is-1 has-text-centered"><%= @post.title %></h1>
</div>
<%= render Bali::Columns::Component.new do |c| %>
  <%= c.column(class: 'is-one-fifth has-text-centered') do %>
    <div class="has-text-weight-bold is-size-6">
      <%= @post.author.name %>
    </div>
    <div class="has-text-grey-light is-size-7 mb-2 mt-1">
      <%= t('activerecord.attributes.blogging/post.public_from') %><br>
      <%= l(@post.public_from, format: :month_time) if @post.public_from %>
    </div>
    <div>
      <% @post.tags.each do |tag| %>
        <%= link_to tag_path(tag) do %>
          <span class="tag is-info is-light"><%= tag.name %></span>
        <% end %>
      <% end %>
    </div>
    <div class="social-share mt-3 sticky">
      <div>
        <%= link_to icon_tag('facebook'), '#',
          data: {
            controller: 'popup-opener',
            action: 'popup-opener#open',
            'popup-opener-share-url-value': 'https://facebook.com/sharer/sharer?u='
          },
          class: 'button is-small has-background-grey-light has-text-white is-rounded is-square' %>
      </div>
      <div class="mt-2">
        <%= link_to icon_tag('twitter'), '#',
          data: {
            controller: 'popup-opener',
            action: 'popup-opener#open',
            'popup-opener-share-url-value': 'https://twitter.com/intent/tweet?text='
          },
          class: 'button is-small has-background-grey-light has-text-white is-rounded is-square' %>
      </div>
      <div class="mt-2">
        <%= link_to icon_tag('linkedin'), '#',
          data: {
            controller: 'popup-opener',
            action: 'popup-opener#open',
            'popup-opener-share-url-value': 'https://www.linkedin.com/sharing/share-offsite/?url='
          },
          class: 'button is-small has-background-grey-light has-text-white is-rounded is-square' %>
      </div>
      <div class="mt-2">
        <%= link_to icon_tag('instagram'), '#',
          data: {
            controller: 'popup-opener',
            action: 'popup-opener#open',
            'popup-opener-share-url-value': 'https://wa.me/?text=='
          },
          class: 'button is-small has-background-grey-light has-text-white is-rounded is-square' %>
      </div>
      <div class="mt-2">
        <%= link_to icon_tag('mail'), 'mailto:?body=' + request.original_url,
          class: 'button is-small has-background-grey-light has-text-white is-rounded is-square' %>
      </div>
    </div>
  <% end %>
  <%= c.column(class: 'is-four-fifths') do %>
    <figure class="image is-2by1">
      <%= image_tag main_app.url_for(@post.cover_image.variant(:xlarge)), class: 'is-full' %>
    </figure>

    <div class='content mt-6'>
      <%= @post.body %>
    </div>
  <% end %>
<% end %>

<%= link_to icon_tag('instagram'), '#',
    data: {
      controller: 'popup-opener',
      action: 'popup-opener#open',
      'popup-opener-share-url-value': 'https://wa.me/?text='
    },
    class: 'button is-small has-background-grey-light has-text-white is-rounded is-square' %>

<script type="text/javascript">
  function openPopup(base, url) {
    window.open(base + encodeURI(url), '_system', 'location=no,width=600,height=400');
  }
</script>
