<% content_for :head do %>
  <meta property="og:title" content="<%= @post.title.truncate(40) %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= post_url(@post) %>" />
  <meta property="og:image" content="<%= main_app.url_for(@post.cover_image.variant(:original)) %>" />
  <meta property="og:description" content="<%= @post.body.to_plain_text.squish.truncate(90) %>" />

  <meta name="twitter:title" content="<%= @post.title.truncate(40) %>" />
  <meta name="twitter:site" content="<%= post_url(@post) %>" />
  <meta name="twitter:image" content="<%= main_app.url_for(@post.cover_image.variant(:original)) %>" />
  <meta name="twitter:description" content="<%= @post.body.to_plain_text.squish.truncate(90) %>" />
<% end %>

<div class='blog-post'>

  <%= render Bali::Columns::Component.new do |c| %>
    <%= c.column(class: 'is-2 has-text-centered is-hidden-mobile') do %>
    <% end %>

    <%= c.column(class: 'post-content') do %>
      <div class="page-header-component mb-5">
        <h1 class="post-title has-text-centered"><%= @post.title %></h1>
      </div>
    <% end %>
  <% end %>

  <%= render Bali::Columns::Component.new do |c| %>
    <%= c.column(class: 'post-metadata is-2 has-text-centered') do %>
      <div class="author">
        <%= @post.author.name %>
      </div>

      <div class="public-from mb-2 mt-1">
        <%= t('activerecord.attributes.blogging/post.public_from') %><br>
        <%= l(@post.public_from, format: :month_time) if @post.public_from %>
      </div>

      <div class='tags-container'>
        <% @post.tags.each do |tag| %>
          <span class="tag is-info is-light"><%= tag.name %></span>
        <% end %>
      </div>

      <div class="social-share mt-3 sticky">
        <div>
          <%= link_to icon_tag('facebook'), '#',
            data: {
              controller: 'popup-opener',
              action: 'popup-opener#open',
              'popup-opener-share-url-value': 'https://facebook.com/sharer/sharer?u='
            },
            class: 'button is-small is-rounded is-square' %>
        </div>
        <div class="mt-2">
          <%= link_to icon_tag('twitter'), '#',
            data: {
              controller: 'popup-opener',
              action: 'popup-opener#open',
              'popup-opener-share-url-value': 'https://twitter.com/intent/tweet?text='
            },
        class: 'button is-small is-rounded is-square' %>
        </div>
        <div class="mt-2">
          <%= link_to icon_tag('linkedin'), '#',
            data: {
              controller: 'popup-opener',
              action: 'popup-opener#open',
              'popup-opener-share-url-value': 'https://www.linkedin.com/sharing/share-offsite/?url='
            },
            class: 'button is-small is-rounded is-square' %>
        </div>
        <div class="mt-2">
          <%= link_to icon_tag('whatsapp'), '#',
            data: {
              controller: 'popup-opener',
              action: 'popup-opener#open',
              'popup-opener-share-url-value': 'https://wa.me/?text=='
            },
        class: 'button is-small is-rounded is-square' %>
        </div>
        <div class="mt-2">
          <%= link_to icon_tag('mail'), 'mailto:?body=' + request.original_url,
            class: 'button is-small is-rounded is-square' %>
        </div>
      </div>
    <% end %>

    <%= c.column(class: 'post-content') do %>
      <figure class="image">
        <%= image_tag main_app.url_for(@post.cover_image.variant(:original)), class: 'is-full' %>
      </figure>

      <div class='content mt-6'>
        <%= @post.body %>
      </div>
    <% end %>
  <% end %>
</div>
