<%= render Bali::PageHeader::Component.new(class: 'mb-6') do |c| %>
  <% c.with_title(t('activerecord.models.blogging/post').pluralize) %>
  <%= link_to "#{t('actions.new')} #{t('activerecord.models.blogging/post')}", new_admin_post_path,
    class: 'btn btn-primary mr-4' %>
  <%= link_to "#{t('actions.new')} #{t('activerecord.models.blogging/tag')}", new_admin_tag_path, data: { action: 'modal#open' }, class: 'btn btn-secondary' %>
<% end %>

<%= render Bali::Columns::Component.new do |c| %>
  <%= c.with_column(class: 'w-3/4') do %>
    <div class="card bg-base-100 shadow p-4">
      <%= render Bali::Table::Component.new do |table_component| %>
        <%= table_component.with_headers([
          { name: t('activerecord.attributes.blogging/post.title')},
          { name: t('activerecord.attributes.blogging/post.body')},
          { name: t('activerecord.attributes.blogging/post.author_id')},
          { name: t('activerecord.attributes.blogging/post.status')},
          { name: t('activerecord.attributes.blogging/post.public_from')},
          {},
          {}
        ]) %>

        <% @posts.each do |post| %>
          <%= table_component.with_row do %>
            <td><%= render Bali::Link::Component.new(name: post.title, href: admin_post_path(post)) %></td>
            <td><%= post.body.to_plain_text.truncate(10) %></td>
            <td><%= post.author.name %></td>
            <td>
              <%= render Bali::Tag::Component.new(
                  text: post.status, color: post_status_color(post.status)) %>
            </td>
            <td><%= l(post.public_from, format: :month_time) if post.public_from %></td>
            <td class='w-auto'>
              <%= link_to icon_tag('pencil'), edit_admin_post_path(post), 
                  class: 'btn btn-sm btn-ghost text-info' %>
            </td>
            <td class='w-auto'>
              <%= button_to icon_tag('trash', class: 'text-error'), admin_post_path(post), 
                  method: :delete, form: { data: { 'turbo-confirm': t('.confirm') } },
                  class: 'btn btn-sm btn-ghost text-error' %>
            </td>
          <% end %>
        <% end %>
      <% end %>

      <%= render Bali::Pagination::Component.new(pagy: @pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>

  <%= c.with_column(class: 'w-1/4') do %>
    <%= render Bali::Table::Component.new do |table_component| %>
      <%= table_component.with_headers([
        { name: t('activerecord.attributes.blogging/tag.tag')},
        {}
      ]) %>

      <% @tags.each do |tag| %>
        <%= table_component.with_row do %>
          <td><%= tag.name %></td>
          <td class='text-right'>
            <div class="flex justify-end gap-4">
              <%= link_to icon_tag('pencil'), edit_admin_tag_path(tag), 
                  { data: { action: 'modal#open' }, class: 'btn btn-sm btn-ghost text-info' } %>

              <%= button_to icon_tag('trash', class: 'text-error'), admin_tag_path(tag),
                  method: :delete, form: { data: { 'turbo-confirm': t('.confirm') } },
                  class: 'btn btn-sm btn-ghost text-error' %>

            </div>
          </td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
