<%= render Bali::PageHeader::Component.new do |c| %>
  <%= c.title(t('activerecord.models.blogging/post').pluralize) %>
  <%= c.right_panel do %>
    <%= link_to "#{t('actions.new')} #{t('activerecord.models.blogging/post')}", new_admin_post_path,
      class: 'button is-primary mr-4' %>
    <%= link_to 'Add Tag', new_admin_tag_path, data: { action: 'modal#open' }, class: 'button is-secondary' %>
  <% end %>
<% end %>

<%= render Bali::Columns::Component.new do |c| %>
  <%= c.column(class: 'is-three-quarters') do %>
    <div class="box">
      <%= render Bali::Table::Component.new do |table_component| %>
        <%= table_component.headers([
          { name: 'Name'},
          { name: 'Body'},
          { name: 'Author'},
          { name: 'Status'},
          { name: 'Public From'},
          {},
          {}
        ]) %>

        <% @posts.each do |post| %>
          <%= table_component.row do %>
            <td><%= link_to post.title, admin_post_path(post) %></td>
            <td><%= post.body.to_plain_text.truncate(10) %></td>
            <td><%= post.author.name %></td>
            <td><%= post.status %></td>
            <td><%= l(post.public_from, format: :month_time) if post.public_from %></td>
            <td class='is-narrow'>
              <%= link_to icon_tag('edit-alt'), edit_admin_post_path(post), 
                  class: 'button is-small is-borderless is-info is-light' %>
            </td>
            <td class='is-narrow'>
              <%= button_to icon_tag('trash-alt', class: 'is-red'), admin_post_path(post), 
                  method: :delete, form: { data: { 'turbo-confirm': t('.confirm') } },
                  class: 'button is-small is-borderless is-danger is-light' %>
            </td>
          <% end %>
        <% end %>
      <% end %>

      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>

  <%= c.column(class: 'is-one-quarters') do %>
    <%= render Bali::Table::Component.new do |table_component| %>
      <%= table_component.headers([
        { name: 'Name'},
        {},
        {}
      ]) %>

      <% @tags.each do |tag| %>
        <%= table_component.row do %>
          <td><%= tag.name %></td>
          <td class='is-narrow'>
            <%= link_to icon_tag('edit-alt'), edit_admin_tag_path(tag), 
                { data: { action: 'modal#open' }, class: 'button is-small is-borderless is-info is-light' } %>
          </td>
          <td class='is-narrow'>
            <%= button_to icon_tag('trash-alt', class: 'is-red'), admin_tag_path(tag),
                method: :delete, form: { data: { 'turbo-confirm': t('.confirm') } },
                class: 'button is-small is-borderless is-danger is-light' %>
          </td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
