<%= link_to "< #{t('back')}", admin_posts_path %>

<%= render Bali::PageHeader::Component.new(title: @post.title) do %>
  <%= link_to icon_tag('edit-alt'), edit_admin_post_path(@post),
      class: 'button is-small is-info is-light mr-4' %>
  <%= button_to icon_tag('trash-alt', class: 'is-red'), admin_tag_path(tag),
      method: :delete, class: 'button is-small is-danger is-light' %>
<% end %>

<%= render Bali::CenteredLevel::Component.new do |c| %>
  <%= c.item(heading: t('activerecord.attributes.blogging/post.author_id'), 
        title: @post.author.name,
        options: { title_class: 'title is-6' }) %>

  <%= c.item(heading: t('activerecord.attributes.blogging/post.status'), 
        title: @post.status,
        options: { title_class: 'title is-6' }) %>

  <%= c.item(heading: t('activerecord.attributes.blogging/post.tag_ids'), 
        title: @post.tags.pluck(:name),
        options: { title_class: 'tag is-info is-light' }) %>

  <%= c.item(heading: t('activerecord.attributes.blogging/post.public_from'), 
        title: @post.public_from,
        options: { title_class: 'title is-6' }) %>
<% end %>

<div class='content mt-6'>
  <%= @post.body %>
</div>
