<head>
  <title>Blogging</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application' %>
</head>
