<!DOCTYPE html>
<html>
  <%= render 'layouts/blogging/head' %>
  <body>

    <div id='app-frame' class='with-side-bar' data-controller='side-menu modal'>
      <%= render 'layouts/blogging/notifications' %>
      <%= render 'layouts/blogging/nav' %>
      <%= render 'layouts/blogging/side_menu' %>

      <div class="container px-4">
        <%= yield %>
      </div>

      <%= render Bali::Modal::Component.new(active: false) %>
    </div>
  </body>
</html>
