<!DOCTYPE html>
<html>
  <%= render 'layouts/blogging/head' %>

  <body>
    <%= render Bali::Navbar::Component.new(class: 'is-fixed-top is-light') do |c| %>
      <% c.with_menu do |menu| %>
        <% menu.with_end_item(tag_name: :div) do %>
          <%= link_to "Blog", root_path, class: "navbar-item app-logo" %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'layouts/blogging/notifications' %>

    <div class="blog container px-4" data-controller='modal'>
      <%= yield %>

      <%= render Bali::Modal::Component.new(active: false) %>
    </div>
  </body>
</html>
